<!-- 3Divs2.html -->
<!-- Create a navigation bar for the top of the screen -->

<html>
	<head>
		<title> Home </title>
		<link rel="stylesheet", type="text/css", href="{{ url_for('static', filename='3DivsStyle2.css') }}">


	</head>


	<body>
		<!-- create a navigation bar to hold the buttons -->
		<div id="navigation_bar">
			<!-- Create the 4 navigation bar buttons and apply the specified style to them -->
			<h1 id="website_name"> Website Name </h1>
			<div class="nav_button"> Home </div>
			<div class="nav_button"> Profile </div>
			<div class="nav_button"> Account </div>
			<div id="logout_button"> Logout </div>
		</div>
		 <h1> Welcome to the Home Page! </h1>


	</body>

</html>